
<h3>Register</h3>
<%= form_tag users_path do %>
  <label>First Name:</label><br>
  <%= text_field_tag :'user[first_name]' %><br>

  <label>Last Name:</label><br>
  <%= text_field_tag :'user[last_name]' %><br>

  <label>Email:</label><br>
  <%= text_field_tag :'user[email]' %><br>

  <label>Location:</label><br>
  <%= text_field_tag :'user[location]' %><br>

  <label>State:</label><br>
  <%= text_field_tag :'user[state]' %><br>
  
  <label>Password:</label><br>
  <%= password_field_tag :'user[password]' %><br>

  <label>Password Confirmation:</label><br>
  <%= password_field_tag :'user[password_confirmation]' %><br>

  <%= submit_tag "Register" %>
<% end %>



  <% if flash[:errors]%>
      <%flash[:errors].each do |error|%>
      <p><%=error%></p>
    <%end%>
  <%end%>

  <h3>Login</h3>
     <%= form_tag sessions_path do %>
       <label>Email:</label><br>
       <%= text_field_tag :'user[email]' %><br>
       <label>Password:</label><br>
       <%= password_field_tag :'user[password]' %><br>
       <%= submit_tag "Login" %>
     <% end %>

        <p class='errors'><%= flash[:login_error]%>
