<h3><%=@event.name%></h3>

<p>Host: <%=@event.user.first_name%> <%=@event.user.last_name%></p>
<p>Date: <%=@event.date%></p>
<p>Location: <%=@event.location%>, <%=@event.state%></p>
<p>People who are attending the event: <%=@event.attendees.count%></p>


<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>State</th>
  </tr>
  <%@event.attendees.each do |x|%>
  <tr>
    <td><%=x.first_name%> <%=x.last_name%></td>
    <td><%=x.location%></td>
    <td><%=x.state%></td>
  </tr>
  <%end%>
</table>

  <h4>Discussion about this event:</h4>
  <div>
    <% @comments.each do |comment|%>
    <p><%=comment.user.first_name%> <%=comment.user.last_name%> says: <%=comment.content%></p>
    <%end%>
  </div>

    <h5>Add Comment:</h5>
    <form action='/comments' method='post'>
      <input type='hidden' name='authenticity_token' value="<%=form_authenticity_token%>">
      <input type='hidden' name='comment[:event_id]' value="<%=@event.id%>">
      <div>

      <textarea rows="4" cols="50"></textarea>
      <p></p>

  <input type='submit' value='Submit'>
</form>
